.contact-content {
    position: relative;
    width: 100%;
}

.contact-header {
    position: relative;
    width: 45%;
    font-size: 19px;
    font-family: 'Itim', cursive;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    border-bottom: 1px solid purple;
    color: black;
}

.contact-text {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 21px;
}

p {
    text-align: center;
    margin-top: 55px;
}

a {
    color: purple;
}

.map {
    height: 350px;
    width: 100%;
    border: 0;
}

/* Media query */
@media screen and (min-width: 120px) and (max-width: 1250px) {
    .contact-header {
        width: 75%;
    }

    .map {
        height: 200px;
        border: none;
    }
}
