.content {
    min-height: 100vh;
}

.gallery-content {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.gallery-header {
    position: relative;
    width: 100%;
    font-size: 19px;
    font-family: 'Itim', cursive;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    border-bottom: 1px solid purple;
    color: black;
}

.linkpanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1px;
}

.quad-gallery {
    font-family: 'Itim', cursive;
    display: flex;
    color: #601953;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 5%;
    height: 100px;
    width: 12vw;
    border-radius: 25px;
    background-color: rgba(231,176,209,100);
}

* {
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid purple;
}


/* Media query */
@media screen and (min-width: 120px) and (max-width: 1250px) {
    .gallery-content {
        width: 90%;
    }

    .linkpanel {
        flex-wrap: wrap;
    }

    .quad-gallery {
        width: 35vw;
    }

    .footer {
        position: relative;
        margin-top: 75px;
    }
}

@media screen and (max-height: 850px) {
    .footer {
        position: relative;
    }
}