/* Background pattern from Toptal Subtle Patterns */

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background.png);
}

a {
    text-decoration: none;
}

.content {
    width: 100%;
    position: relative;
}

.mobile-opacity {
    position: fixed;
    display: none;
    left: 0;
    top: 130px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 8;
}

.header {
    width: 100%;
    height: 150px;
    position: relative;
    background: linear-gradient(180deg, rgba(231,176,209,100) 85%, rgba(255,255,255,0) 100%);
    z-index: 10;
}

.header-wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    z-index: 11;
}

.header-logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10%;
    height: 115px;
    position: relative;
    margin-top: 5px;
}

.buttons-list {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 475px;
    right: 60px;
}

.main-button {
    font-family: 'Itim', cursive;
    color: #601953;
    font-size: 1.75rem;
    transition: 0.5s;
}

.main-button:hover {
    color: black;
    transition: 0.5s;
}

.hamburger-button {
    position: absolute;
    display: none;
    cursor: pointer;
    font-size: 21px;
    right: 25px;
}

.mobile {
    position: fixed;
    width: 100%;
    top: 130px;
    left: 0;
    z-index: 9;
    text-align: center;
}

.mobile-button {
    display: none;
    padding: 10px 10px 10px 0;
    z-index: 9;
    background-color: #ecd0d1;
    width: 100%;
    color: black;
    font-family: 'Itim', cursive;
    border-bottom: 1px solid #4f1743;
    font-size: 18px;
    text-align: center;

}

.mobile-button-first {
    background: linear-gradient(0deg, rgba(236,208,209,1) 20%, rgba(255,255,255,1) 100%);
    border-top: 3px solid #4f1743;
}

/* Media query */
@media screen and (min-width: 120px) and (max-width: 1250px) {
    .header-logo {
        margin: 0 auto;
        width: 30%;
    }
    
    .header-wrap {
        width: 100%;
    }
    
    .buttons-list {
        display: none;
        right: 20px;
    }
    
    .hamburger-button {
        display: block;
    }
}
