.offer-content {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.offer-header {
    position: relative;
    width: 100%;
    font-size: 19px;
    font-family: 'Itim', cursive;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    border-bottom: 1px solid purple;
    color: black;
}

#sortButtonContainer {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.sort-button {
    font-family: 'Itim', cursive;
    font-size: 16px;
    border-radius: 40px;
}

* {
    box-sizing: border-box;
}

.row {
    margin: 8px -16px;
    display: flex;
    flex-wrap: wrap;
}

.row,
.row > .column {
    padding: 8px;
}

.column {

    width: 25%;
    display: none; /* Hide columns by default */
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 18px;
}

.row:after {
    content: "";
    display: table;

}

.offers {
    background-color: white;
    padding: 10px;
    border-radius: 15px 15px 50px 50px;
    min-height: 747px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ck {
    justify-content: flex-start;
}

.show {
    display: block;
}

.sort-button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #ddd;
}

.sort-button.active {
    background-color: #d4e5f7;
    color: black;
}
